<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Query</title>
</head>
<body>
  <div class="container p-3">
    <h3>FlaskGPT</h3>
    <div class="mb-3">
      <form method="post" action="">
        <label for="prompt" class="form-label">
          <strong>Prompt: </strong>
        </label>
        <textarea class="form-control" type="textarea" id="prompt" name="prompt" rows="3"></textarea>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    <br>
    <div class="mb-3">
      <h6>Response:</h6>
      <div class="container border overflow-auto h-50" id="response"></div>
    </div>
  </div>

<script src="../static/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>